* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
  padding: 20px 79px;
  border: 1px;
  border-bottom: 1px solid #E8E8E8;
}

header>div:last-child {
  display: flex;
  text-align: end;
  justify-content: end;
  align-items: center;
  width: 423px;
  height: 48px;
  text-align: end;
  gap: 40px;
}

main {
  display: flex;
  gap: 15px;
}

main>section:first-child {
  width: 262px;
  height: 948px;
  gap: 15px;
  border: 1px;
  display: flex;
  padding-top: 15px;
  justify-content: end;
  padding-right: 30px;
  border-right: 1px solid #E8E8E8;
}

main>section:first-child>div:first-child {
  display: flex;
  flex-direction: column;
  width: 208px;
  align-items: center;
  height: 350px;
  gap: 16px;
  justify-content: space-around;
}

main>section:first-child>div:first-child>div:nth-child(2) {
  background-color: blue;
  color: white;
  gap: 10px;
}

main>section:first-child>div:first-child>div:first-child,
main>section:first-child>div:first-child>div:nth-child(2),
main>section:first-child>div:first-child>div:nth-child(3),
main>section:first-child>div:first-child>div:nth-child(4),
main>section:first-child>div:first-child>div:nth-child(5),
main>section:first-child>div:first-child>div:nth-child(6),
main>section:first-child>div:first-child>div:nth-child(7) {
  width: 214px;
  height: 45px;
  gap: 15px;
  padding-left: 30px;
  justify-content: start;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
main>section:first-child>div:first-child>div:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}
main>section:first-child>div:first-child>div>img:hover {
color: white;
background-color: orange;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
color: white;
}


main>section:first-child>div:first-child>div:nth-child(7) {
color: red;
}

main>section:nth-child(2) {
  align-items: center;
  padding-left: 40px;
  display: flex;
  justify-content: center;
}

article {
  display: flex;
  gap: 20px;
}

article>div:first-child {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

article>div:first-child>div:first-child>div:first-child {
  gap: 15px;
  align-items: center;
  display: flex;
}

article>div:first-child>div:nth-child(2) {
  width: 1056px;
  height: 792px;
  border: 1px solid #E8E8E8;
  padding-left: 30px;
  text-align: left;
  display: flex;
}

article>div:first-child>div:nth-child(2)>div:first-child {
  width: 660px;
  height: 760px;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  gap: 10px;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:first-child {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(2) {
  /* width: 633px; */
  /* height: 115px; */
  /* border-radius: 8px; */
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* background: #E8E8E84D; */
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(2)>div:first-child {
  width: 342px;
  height: 140px;
  gap: 12px;
  /* background-color: red; */
  display: flex;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(2)>div:first-child>div:first-child {
  background: #E8E8E84D;
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(2)>div:first-child>div:last-child {
  display: flex;
  height: 130px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button {
  width: 160px;
  height: 45px;
  gap: 8px;
  border-radius: 6px;
  background-color: blue;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:nth-child(2) {
  border: 1px solid red;
  background-color: white;
  color: red;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(2)>div:first-child>div:last-child>div:last-child {
  width: 97px;
  height: 22px;
  gap: 8px;
  border-radius: 6px;
  background-color: blue;
  color: white;
  display: flex;
  padding-left: 10px;
  align-items: center;
}


article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(3) {
  display: flex;
  height: 150px;
  gap: 5px;
  justify-content: space-around;
  flex-direction: column;
}

input {
  width: 963px;
  height: 44px;
  border-radius: 6px;
  padding-left: 33px;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(3)>div:last-child>img {
  left: 5px;
  bottom: 40px;
  position: relative;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(4) {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(3)>div:first-child>div:first-child,
article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(4)>div:first-child {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(2)>div:last-child,
article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(3)>div:first-child>div:last-child,
article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(4)>div:last-child {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4F5665;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form>div:first-child,
form>div:nth-child(2),
form>div:last-child {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

form>div>img {
  width: 16px;
  height: 16px;
  position: relative;
  padding-left: 10px;
  bottom: 41px;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(3)>div:nth-child(2),
article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(3)>div:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* background-color: blue; */
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(3)>div:nth-child(2)>div:last-child,
article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(3)>div:nth-child(3)>div:last-child {
  color: blue;
}

.btn {
  width: 997px;
  height: 45px;
  gap: 8px;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: blue;
}