* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
  padding: 20px 79px;
  border: 1px;
  border-bottom: 1px solid #E8E8E8;
}

header>div:last-child {
  display: flex;
  text-align: end;
  justify-content: end;
  align-items: center;
  width: 423px;
  height: 48px;
  text-align: end;
  gap: 40px;
}

main {
  display: flex;
  gap: 15px;
  justify-content: space-around;
}

main>section:first-child {
  width: 262px;
  height: 948px;
  gap: 15px;
  border: 1px;
  display: flex;
  /* padding-left: 10px; */
  padding-top: 15px;
  justify-content: end;
  /* padding-left: 20px; */
  padding-right: 30px;
  border-right: 1px solid #E8E8E8;
}

main>section:first-child>div:first-child {
  display: flex;
  flex-direction: column;
  width: 208px;
  align-items: center;
  height: 350px;
  gap: 16px;
  justify-content: space-around;
}

main>section:first-child>div:first-child>div:nth-child(3) {
  background-color: blue;
  color: white;
  gap: 10px;
}

main>section:first-child>div:first-child>div:first-child,
main>section:first-child>div:first-child>div:nth-child(2),
main>section:first-child>div:first-child>div:nth-child(3),
main>section:first-child>div:first-child>div:nth-child(4),
main>section:first-child>div:first-child>div:nth-child(5),
main>section:first-child>div:first-child>div:nth-child(6) {
  width: 214px;
  height: 45px;
  gap: 15px;
  padding-left: 30px;
  justify-content: start;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

main>section:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

main>section:nth-child(2)>div:nth-child(1) {
  display: flex;
  width: 1031px;
  gap: 20px;
  text-align: left;
  align-items: end;
  justify-content: left;
}

main>section:nth-child(2)>div:nth-child(1)>div:first-child {
  gap: 15px;
  display: flex;
}


main>section:nth-child(2)>div:nth-child(2) {
  width: 981px;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E8E8E8
}

article {
  width: 950px;
  height: 680px;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

article>div:first-child {
  display: flex;
  justify-content: space-between;
}

article>div:first-child>div:first-child {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.006em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

article>div:first-child>div:last-child {
  width: 340px;
  height: 40px;
  display: flex;
  gap: 64px;
  text-align: center;
  justify-content: space-around;
  border-radius: 6px;
  align-items: center;
  border: 1px solid #E8E8E8;
}

article>div:nth-child(2) {
  display: flex;
}

article>div:nth-child(2)>div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

article>div:nth-child(2)>div:first-child>div {
  width: 112px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

article>div:nth-child(2)>div:nth-child(2),
article>div:nth-child(2)>div:nth-child(3),
article>div:nth-child(2)>div:nth-child(4),
article>div:nth-child(2)>div:nth-child(5) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

article>div:nth-child(2)>div:nth-child(even) {}

article>div:nth-child(2)>div>div:nth-child(odd) {
  background: #F9FAFB;
}

article>div:nth-child(2)>div:nth-child(2)>div {
  width: 261px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

article>div:nth-child(2)>div:nth-child(3)>div {
  width: 223px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;

}

article>div:nth-child(2)>div:nth-child(4)>div {
  width: 274px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

article>div:nth-child(2)>div:nth-child(4)>div:nth-child(odd) {
  color: #1EC15F;
}
article>div:nth-child(2)>div:nth-child(4)>div:nth-child(even) {
color: red;
}

article>div:nth-child(2)>div:nth-child(5)>div {
  width: 77px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 72px;
}
article>div:nth-child(3){
  display: flex;
  /* width: ; */
  justify-content: space-between;
}
article>div:nth-child(3)>div:last-child{
display: flex;
width: 320px;
justify-content: space-around;
}