* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #2948FF;
  justify-content: space-around;
}

nav {
  /* height: Fixed (76px)px; */
  padding: 20px 130px;
  background: #2948FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
  width: 205px;
  height: 48px;
}

li {
  display: flex;
  gap: 22px;
  justify-content: center;
}

a {
  width: 66px;
  height: 28px;
  padding: 12px 18px 12px 18px;
  gap: 6px;
  border-radius: 5px;
  opacity: 0px;
  color: white;
  border: 1px solid #FFFFFF;
  display: flex;
  align-items: center;
}

a:nth-child(2) {
  color: #3969FD;
  background: #FFFFFF;
}

article {
  width: 1440px;
  height: 679px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #2948FF;
}

article>div:first-child {
  width: 1180px;
  height: 146px;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 500;
  line-height: 73.14px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}

article>div:last-child {
  display: flex;
  align-items: center;
  gap: 110px;
  /* justify-content: space-between; */
  /* width: Hug (1, 052px)px; */
  /* height: Hug (443px)px; */
  /* top: 311px; */
  /* left: 194.45px; */
  /* gap: 154px; */
  /* opacity: 0px; */
}

article>div:last-child>div:nth-child(2) {
  width: 476px;
  height: 232px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0px;
}

article>div:last-child>div:nth-child(2)>div:first-child {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: white;
  width: 476px;
  height: 40px;
}

article>div:last-child>div:nth-child(2)>div:nth-child(2) {
  display: flex;
  justify-content: space-around;
}

button {
  width: 225.5px;
  height: 50px;
  padding: 10px;
  gap: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  /* color: #2948FF; */
}

button:nth-child(2) {
  background-color: #2948FF;
  color: white;
  border: 1px solid white;
}

button>img {
  width: 15px;
  height: 17px;
}

article>div:last-child>div:nth-child(2)>div:nth-child(3) {
  display: flex;
  gap: 20px;
}

article>div:last-child>div:nth-child(2)>div:nth-child(3)>div:first-child {
  font-family: Plus Jakarta Sans;
  font-size: 48px;
  font-weight: 500;
  line-height: 60.48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}

article>div:last-child>div:nth-child(2)>div:nth-child(4) {
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: left;
  color: white;
}

main>section:first-child {
  height: 500px;
  display: flex;
  background-color: white;
  flex-direction: column;
}

main>section:first-child>div:first-child {
  height: 213px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lime;
}

main>section:first-child>div:first-child>div:first-child {
  width: 1180px;
  height: 89px;
  gap: 20px;
  background-color: orange;
  display: flex;
}

.span {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2948FF;
}