* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

:root {
  --most-Color: #2948FF;
  --text-Color: #4F5665;
}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #2948FF;
  justify-content: space-around;
}

nav {
  padding: 20px 130px;
  background: #2948FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav>div:nth-child(2) {
  display: flex;
  gap: 20px;
}

.btn1 {
  padding: 15px;
  gap: 6px;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  color: white;
  background: #2948FF;
  font-size: 14px;
  text-align: center;
}

.btn1:nth-child(2) {
  color: #3969FD;
  /* width: 97px; */
  background: #FFFFFF;
}

article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #2948FF;
}

article>div:first-child {
  padding: 0 130px;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  color: white;
}

article>div:last-child {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding-top: 52px;
  gap: 5%;
}

article>div:last-child>div:nth-child(2) {
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

article>div:last-child>div:nth-child(2)>div:first-child,
article>div:last-child>div:nth-child(2)>div:last-child {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

button:hover {
  cursor: pointer;
}

.wr>div:nth-child(2),
.wr>div:nth-child(3) {
  display: flex;
  gap: 10px;
  align-items: center;
}

.wr>div:nth-child(3)>div:first-child {
  font-family: Plus Jakarta Sans;
  font-size: 48px;
  font-weight: 500;
  text-align: left;
  color: white;
}

#btn {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 6px;
}

#btn>img {
  width: 20px;
  height: 20px;
}

#btn:nth-child(2) {
  color: white;
  border: 1px solid white;
  background-color: #2948FF;
}

section>div>div {
  display: flex;
  padding: 55px 130px;
  align-items: center;
  justify-content: space-around;
}

.box {
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.span {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: var(--most-Color);
  align-items: center;
  border-radius: 50%;
}

.box>div:nth-child(2) {
  gap: 3px;
  display: flex;
  flex-direction: column;
}

.box>div:nth-child(2)>div:last-child {
  color: var(--text-Color);
}

main>section:first-child>div:last-child {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

section>div:last-child>div:first-child {
  display: flex;
  text-align: left;
  flex-direction: column;
}

section>div:last-child>div:first-child>div:first-child {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

section>div:last-child>div:first-child>div:first-child>div:first-child {
  color: var(--most-Color);
  font-weight: 700;
  font-size: 18px;
  text-align: left;
}

section>div:last-child>div:first-child>div:first-child>div:nth-child(2) {
  line-height: 43px;
  font-size: 36px;
  font-weight: 500;
}

section>div:last-child>div:first-child>div:first-child>div:nth-child(3) {
  color: var(--text-Color);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

section>div:last-child>div:first-child>div:first-child>div:nth-child(4)>button {
  font-weight: 500;
  font-size: 14px;
  padding: 20px;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: var(--most-Color);
}

main>section:first-child>div:nth-child(2)>div:last-child {
  background-image: url(asset/Background.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 100px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
}

main>section:first-child>div:nth-child(2)>div:last-child>div:first-child {
  bottom: 70px;
  position: relative;
}

main>section:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

main>section:nth-child(2)>div:nth-child(1) {
  background: #E8E8E84D;
  display: flex;
  align-items: center;
  justify-content: end;
}

main>section:nth-child(2)>div:nth-child(1)>div:first-child {
  display: flex;
  justify-content: space-around;
}

main>section:nth-child(2)>div:nth-child(1)>div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

main>section:nth-child(2)>div:nth-child(1)>div:nth-child(2)>div:first-child {
  font-size: 36px;
  font-weight: 500;
}

main>section:nth-child(2)>div:nth-child(1)>div:first-child>div:nth-child(2) {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1E1E1E;
}

main>section:nth-child(2)>div:nth-child(1)>div:first-child>div:nth-child(3) {
  display: flex;
  text-align: left;
  width: 577px;
  /* background-color: blue; */
}

.box2 {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.box2>div:first-child,
.box2>div:nth-child(2),
.box2>div:nth-child(3) {
  display: flex;
  gap: 10px;
}

.box2>div:first-child>div:nth-child(1),
.box2>div:nth-child(2)>div:nth-child(1),
.box2>div:nth-child(3)>div:nth-child(1) {
  padding: 10px;
  display: flex;
  background: #00A700;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

.box2>div:first-child>div:last-child,
.box2>div:nth-child(2)>div:last-child,
.box2>div:nth-child(3)>div:last-child {
  color: #00A700;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.94px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

@media only screen and (max-width: 900px) {
  nav {
    border-bottom: 2px solid white;
  }

  nav article>div:last-child {
    flex-direction: column-reverse;
  }

  article>div:last-child {
    flex-direction: column-reverse;
  }

  section>div>div {
    gap: 20px;
    flex-direction: column;
  }

  .box {
    flex-direction: column;
  }

  .box>div:nth-child(2) {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  main>section:first-child>div:last-child {
    flex-direction: column-reverse;
    padding: 60px 0;
  }

  section>div:last-child>div:first-child>div:first-child {
    align-items: center;
    gap: 25px;
    justify-content: center;
  }

  section>div:last-child>div:first-child>div:first-child>div:nth-child(1) {
    font-size: 24px;
  }

  section>div:last-child>div:first-child>div:first-child>div:nth-child(2) {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  section>div:last-child>div:first-child>div:first-child>div:nth-child(3) {
    text-align: center;
    align-items: center;
  }

  section>div:last-child>div:first-child>div:first-child>div:nth-child(4)>button {
    width: 334px;
    height: 50px;
    padding: 10px;
  }
}