* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

header {
  /* padding: 20px 130px; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
}

nav {
  /* max-width: 1440px; */
  /* width: 1440px; */
  /* height: Fixed (76px)px; */
  padding: 20px 130px;
  background: #2948FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
  width: 205px;
  height: 48px;
}

li {
  display: flex;
  gap: 22px;
  justify-content: center;
}

a {
  width: 66px;
  height: 28px;
  padding: 12px 18px 12px 18px;
  gap: 6px;
  border-radius: 5px;
  opacity: 0px;
  color: white;
  border: 1px solid #FFFFFF;
  display: flex;
  align-items: center;
}

a:nth-child(2) {
  color: #3969FD;
  background: #FFFFFF;
}

header>div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1, 180px;
  height: 663px;
  gap: 95px;
}

header>div:nth-child(2)>div:first-child {
  width: 576px;
  height: 389px;
  gap: 25px;
  display: flex;
  flex-direction: column;
}

header>div:nth-child(2)>div:first-child>div:first-child {
  font-size: 48px;
  font-weight: 500;
  line-height: 58.51px;
  text-align: left;
}

header>div:nth-child(2)>div:first-child>div:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  color: #4F5665;
}

header>div:nth-child(2)>div:first-child>div:nth-child(3)>button {
  width: 140px;
  height: 50px;
  background: #2948FF;
  color: white;
  border-radius: 6px;
  border: none;
}

header>div:nth-child(2)>div:first-child>div:nth-child(4) {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

header>div:nth-child(2)>div:first-child>div:nth-child(4)>div:first-child {
  color: #3A3D42;
}

header>div:nth-child(2)>div:first-child>div:nth-child(4)>div:last-child {
  display: flex;
}

header>div:nth-child(3) {
  display: flex;
  background: #E8E8E84D;
  align-items: center;
  justify-content: center;
  height: 171px;
}

header>div:nth-child(3)>div:first-child {
  display: flex;
  gap: 130px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main>section:nth-child(1) {
  display: flex;
  height: 600px;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

main>section:nth-child(1)>div:first-child {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 109px;
  justify-content: space-around;
}

main>section:nth-child(1)>div:first-child>div:first-child {
  font-size: 36px;
  font-weight: 500;
  line-height: 43.88px;
  text-align: left;
}

main>section:nth-child(1)>div:first-child>div:last-child {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #4F5665;
}

main>section:nth-child(1)>div:last-child {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.card {
  width: 211px;
  height: 289px;
  border-radius: 8px;
  background: linear-gradient(180deg, #396AFC 0%, #2948FF 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.span {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.card>div:nth-child(2) {
  color: white;
}

.card>div:nth-child(3) {
  width: 185px;
  height: 100px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}

main>section:nth-child(2) {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
  /* width: 1440px; */
  /* height: 844px; */
  /* padding-top: 90px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* width: 2000px; */
  height: 844px;
  /* padding: 0; */
  /* margin: 0; */
  justify-content: center;

}

main>section:nth-child(2)>div:first-child {
  background-position: center;
  background-repeat: no-repeat;
  /* width: 1440px; */
  min-width: 100vw;
  height: 440px;
  background-image: url(asset/gelombang\ 1.png);
}

main>section:nth-child(2)>div:last-child {
  background-image: url(asset/gelombang\ 2.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 1440px;
  height: 403px;
}

main>section:nth-child(3) {
  display: flex;
  height: 800px;
  justify-content: space-around;
  flex-direction: column;
}

main>section:nth-child(3)>div:first-child {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
}

main>section:nth-child(3)>div:first-child>div:first-child {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  line-height: 58.51px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

main>section:nth-child(3)>div:first-child>div:last-child {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4F5665;

}

main>section:nth-child(3)>div:last-child {
  display: flex;

  align-items: center;
  justify-content: center;
}

main>section:nth-child(3)>div:last-child>div:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.card2 {
  width: 303px;
  height: 380px;
  display: flex;
  background: #E8E8E84D;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}

.card2>div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}

.card2>div:first-child>div:nth-child(3) {
  display: flex;
  gap: 10px;
}

.card2>div:first-child>div:nth-child(4) {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 58.51px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.card2>div:first-child>div:nth-child(5) {
  width: 271px;
  height: 62px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4F5665;
}


.span2 {
  width: 46px;
  height: 47px;
  background: #E8E8E84D;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.span3 {
  width: 46px;
  height: 47px;
  background: #2948FF;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 378px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2948FF;

}

footer>div:first-child {
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

footer>div:first-child>div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 264.6px;
  height: 151px;
}

footer>div:first-child>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 264.6px;
  gap: 7px;
  height: 151px;
}

footer>div:first-child>div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 264.6px;
  height: 110px;
}

footer>div:first-child>div:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 264.6px;
  height: 150px;
}

footer>div:first-child>div:first-child>div:last-child {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}

footer>div:first-child>div:nth-child(2)>div:first-child,
footer>div:first-child>div:nth-child(3)>div:first-child,
footer>div:first-child>div:nth-child(4)>div:first-child {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}

footer>div:first-child>div:nth-child(2)>div:nth-child(2),
footer>div:first-child>div:nth-child(2)>div:nth-child(3),
footer>div:first-child>div:nth-child(2)>div:nth-child(4),
footer>div:first-child>div:nth-child(3)>div:nth-child(2) {
  display: flex;
  gap: 15px;
  color: white;
  align-items: center;
}

.span4 {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

footer>div:first-child>div:nth-child(4)>form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

footer>div:first-child>div:nth-child(4)>form>img {
  width: 16px;
  height: 12px;
  left: 15px;
  bottom: 26px;
  position: relative;
}

input {
  width: 185px;
  height: 40px;
  padding-left: 40px;
  border-radius: 8px;
  border: 1px;
}

button {
  width: 224px;
  height: 38px;
  border-radius: 8px;
  border: 1px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #2948FF;
}

footer>div:first-child>div:nth-child(2)>div:nth-child(4)>div:first-child {
  background-color: orange;
}

footer>div:last-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 45px;
}

footer>div:last-child>div:last-child {
  color: white;
}
