* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
  padding: 20px 79px;
  border: 1px;
  border-bottom: 1px solid #E8E8E8;
}

header>div:last-child {
  display: flex;
  text-align: end;
  justify-content: end;
  align-items: center;
  width: 423px;
  height: 48px;
  text-align: end;
  gap: 40px;
}

main {
  display: flex;
  gap: 15px;
}

main>section:first-child {
  width: 262px;
  height: 948px;
  gap: 15px;
  border: 1px;
  display: flex;
  padding-top: 15px;
  justify-content: end;
  padding-right: 30px;
  border-right: 1px solid #E8E8E8;
}

main>section:first-child>div:first-child {
  display: flex;
  flex-direction: column;
  width: 208px;
  align-items: center;
  height: 350px;
  gap: 16px;
  justify-content: space-around;
}

main>section:first-child>div:first-child>div:nth-child(2) {
  background-color: blue;
  color: white;
  gap: 10px;
}

main>section:first-child>div:first-child>div:first-child,
main>section:first-child>div:first-child>div:nth-child(2),
main>section:first-child>div:first-child>div:nth-child(3),
main>section:first-child>div:first-child>div:nth-child(4),
main>section:first-child>div:first-child>div:nth-child(5),
main>section:first-child>div:first-child>div:nth-child(6) {
  width: 214px;
  height: 45px;
  gap: 15px;
  padding-left: 30px;
  justify-content: start;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
main>section:first-child>div:first-child>div:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}
main>section:first-child>div:first-child>div>img:hover {
color: white;
background-color: white;
}
#rd{
  width: 12px;
  height: 12px;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
color: white;
}


main>section:first-child>div:first-child>div:nth-child(6) {
  color: red;
}

main>section:nth-child(2) {
  align-items: center;
  padding-left: 40px;
  display: flex;
  justify-content: center;
}

article {
  display: flex;
  gap: 20px;
}

article>div:first-child {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

article>div:first-child>div:first-child>div:first-child {
  gap: 15px;
  align-items: center;
  display: flex;
}

article>div:first-child>div:nth-child(2) {
  width: 700px;
  height: 792px;
  border: 1px solid #E8E8E8;
  align-items: center;
  display: flex;
  justify-content: center;
}

article>div:first-child>div:nth-child(2)>div:first-child {
  width: 660px;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:first-child {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(2) {
  width: 633px;
  height: 115px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E8E8E84D;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(2)>div:first-child {
  width: 593px;
  height: 80px;
  gap: 10px;
  display: flex;
  opacity: 0px;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(2)>div:first-child>div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(2)>div:first-child>div:last-child>div:last-child {
  width: 97px;
  height: 22px;
  gap: 8px;
  border-radius: 6px;
  background-color: blue;
  color: white;
  display: flex;
  padding-left: 10px;
  align-items: center;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(3) {
  display: flex;
  height: 150px;

  justify-content: space-around;
  flex-direction: column;
}

input {
  width: 633px;
  height: 62px;
  border-radius: 6px;
  padding-left: 23px;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(3)>div:last-child>img {
  left: 5px;
  bottom: 40px;
  position: relative;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(4) {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(3)>div:first-child>div:first-child,
article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(4)>div:first-child {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(3)>div:first-child>div:last-child,
article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(4)>div:last-child {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4F5665;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(5) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

article>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(5)>div {
  width: 635px;
  height: 60px;
  border: 1px 0px 0px 0px;
  display: flex;
  padding-left: 20px;
  gap: 40px;
  text-align: left;
  align-items: center;
  background: #E8E8E84D;
}

article>div:last-child {
  width: 341px;
  height: 378px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #E8E8E8
}

article>div:last-child>div:first-child {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  width: 345px;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 35px;
}

article>div:last-child>div:last-child {
  width: 276px;
  height: 285px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

article>div:last-child>div:last-child>div:first-child,
article>div:last-child>div:last-child>div:nth-child(2),
article>div:last-child>div:last-child>div:nth-child(3),
article>div:last-child>div:last-child>div:nth-child(5) {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

article>div:last-child>div:last-child>div:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 276px;
  height: 45px;
  gap: 8px;
  border-radius: 6px;
  background-color: blue;
  color: white;
  border: none;
}
button:active {
  background-color: #3557bc;
}

article>div:last-child>div:last-child>div:nth-child(7) {
  width: 276px;
  height: 34px;
  gap: 0px;
  opacity: 0px;
  color: #4F5665;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}