* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

body {
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
  padding: 20px 79px;
  border: 1px;
  border-bottom: 1px solid #E8E8E8;
}

header>div:last-child {
  display: flex;
  text-align: end;
  justify-content: end;
  align-items: center;
  width: 423px;
  height: 48px;
  text-align: end;
  gap: 40px;
}

main {
  display: flex;
  gap: 75px;
  background: #00000099;
}

main>section:first-child {
  width: 262px;
  height: 948px;
  gap: 15px;
  border: 1px;
  display: flex;
  /* padding-left: 10px; */
  padding-top: 15px;
  justify-content: end;
  /* padding-left: 20px; */
  background-color: white;
  padding-right: 30px;
  border-right: 1px solid #E8E8E8;
}

main>section:first-child>div:first-child {
  display: flex;
  flex-direction: column;
  width: 208px;
  align-items: center;
  height: 350px;
  gap: 16px;
  justify-content: space-around;
}

main>section:first-child>div:first-child>div:nth-child(2) {
  background-color: blue;
  color: white;
  gap: 10px;
}

main>section:first-child>div:first-child>div:first-child,
main>section:first-child>div:first-child>div:nth-child(2),
main>section:first-child>div:first-child>div:nth-child(3),
main>section:first-child>div:first-child>div:nth-child(4),
main>section:first-child>div:first-child>div:nth-child(5),
main>section:first-child>div:first-child>div:nth-child(6),
main>section:first-child>div:first-child>div:nth-child(7) {
  width: 214px;
  height: 45px;
  gap: 15px;
  padding-left: 30px;
  justify-content: start;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

main>section:first-child>div:first-child>div:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

main>section:first-child>div:first-child>div>img:hover {
  color: white;
  background-color: orange;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}


main>section:first-child>div:first-child>div:nth-child(7) {
  color: red;
}

article>section:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 130px;
  gap: 10px;
  text-align: center;
}

article>section:nth-child(1)>div:first-child {
  display: flex;
  /* padding-top: 20px; */
  flex-direction: column;
  gap: 30px;
  width: 1061px;
  text-align: left;
  /* background-color: lightcoral; */
}

article>section:nth-child(1)>div:first-child>div:first-child {
  gap: 20px;
  padding-top: 20px;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  /* background-color: skyblue; */
}

article>section:nth-child(1)>div:first-child>div:first-child>div:nth-child(1) {
  text-align: left;

}

article>section:nth-child(1)>div:first-child>div:first-child>div:nth-child(2) {
  display: flex;
  width: 600px;
  /* background-color: orange; */
  justify-content: space-around;
}

article>section:nth-child(1)>article>div:first-child {
  width: 1061px;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


article>section:nth-child(1)>article>div:first-child>div:first-child {
  display: flex;
  gap: 20px;
  height: 195px;
  width: 1066px;
  text-align: left;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

article>section:nth-child(1)>article>div:first-child>div:first-child>div:first-child {
  gap: 15px;
  align-items: left;
  text-align: center;
  display: flex;
  justify-content: space-around;
}


article>section:nth-child(1)>article>div:first-child>div:first-child>div:nth-child(2) {
  height: 45px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}


article>section:nth-child(1)>div:first-child>div:first-child>div:nth-child(2)>div:nth-child(odd) {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}

article>section:nth-child(1)>div:first-child>div:first-child>div:nth-child(2)>div:nth-child(3)>div:last-child {
  color: blue;
}

article {
  /* display: flex; */
  /* height: 100vh; */
  /* flex-direction: column; */
  /* background-color: skyblue; */
  /* background: #00000099; */

}

.span {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: blue;
  color: white;
}

.span2 {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  background: #4F5665;

}

article>section:nth-child(1)>div:first-child>div:nth-child(2) {
  background-color: red;
  width: 270px;
  /* background-color: aqua; */
  height: 220px;
  padding-top: 29px;
  /* border-radius: 12px; */
  align-items: center;
  display: flex;
  /* flex-direction: column; */
  /* gap: 10px; */
  justify-content: center;
}

main>section:nth-child(2)>div:first-child>div:nth-child(2)>div:first-child {
  width: 248px;
  height: 142px;
  /* padding-bottom: 60px; */
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: solid #FFFFFF;
  box-shadow: 0px 4px 20px 0px #0B132A14;
}

main>section:nth-child(2)>div:first-child>div:nth-child(2)>div:first-child>div:first-child {
  width: 208px;
  height: 45px;
  gap: 8px;

  background-color: blue;
  border-radius: 6px;
  display: flex;
  text-align: left;
  padding-left: 10px;
  color: white;
  align-items: center;

}

main>section:nth-child(2)>div:first-child>div:nth-child(2)>div:first-child>div:last-child {
  width: 208px;
  height: 45px;
  gap: 8px;
  border-radius: 6px;
  display: flex;
  text-align: left;
  padding-left: 10px;
  align-items: center;
  color: red;
}



main>section:nth-child(2)>div:nth-child(2) {
  width: 1061px;
  height: 920px;
  display: flex;
  /* background-color: lime; */
  justify-content: center;
  align-items: center;
  border: 1px solid #E8E8E8
}

/* article { */
/* width: 950px; */
/* height: 680px; */
/* display: flex; */
/* background-color: skyblue; */
/* align-items: center; */
/* flex-direction: column; */
/* gap: 10px; */
/* justify-content: center; */
/* } */
/*  */
article>div:first-child {
  display: flex;
  width: 1030px;
  text-align: left;
  justify-content: space-between;
}

article>div:nth-child(2) {
  width: 1000px;
  height: 590px;
  display: flex;
  gap: 26px;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid gray;
}

article>div:nth-child(2)>div:first-child {
  width: 1000px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #E8E8E84D; */
}

article>div:nth-child(2)>div:first-child>div:first-child {
  width: 954px;
  height: 80px;
  display: flex;
  align-items: center;
}

article>div:nth-child(2)>div:first-child>div:first-child>div:first-child>img {
  width: 80px;
  height: 80px;
}

article>div:nth-child(2)>div:first-child>div:first-child>div:nth-child(2) {
  width: 133px;
  height: 30px;
  display: flex;
  gap: 9px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

article>div:nth-child(2)>div:first-child>div:first-child>div:nth-child(2)>div:nth-child(1) {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  display: flex;
  width: 97px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

article>div:nth-child(2)>div:first-child>div:first-child>div:nth-child(2)>div:nth-child(2) {
  display: flex;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #4F5665;
}

article>div:nth-child(2)>div:first-child>div:first-child>div:nth-child(2)>div:nth-child(3) {
  width: 97px;
  height: 22px;
  /* padding: 4px 12px 4px 8px; */
  gap: 8px;
  align-items: center;
  display: flex;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  padding-left: 10px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.006em;
  background-color: blue;
}

article>div:nth-child(2)>div:nth-child(2) {
  width: 1000px;
  height: 115px;
  display: flex;
  text-align: left;
}

article>div:nth-child(2)>div:nth-child(2)>div:nth-child(1) {
  display: flex;
  text-align: center;
  height: 120px;
  flex-direction: column;
  justify-content: space-around;
}

article>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:first-child,
article>div:nth-child(2)>div:nth-child(3)>div:first-child>div:first-child {
  display: flex;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

article>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:last-child,
article>div:nth-child(2)>div:nth-child(3)>div:first-child>div:last-child {

  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4F5665;
}

article>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div:last-child>img {
  position: relative;
  right: 485px;
  top: 44px;
  /* text-align: left; */
}

input {
  text-align: left;
  width: 970px;
  height: 62px;
  gap: 10px;
  padding-left: 30px;
  border-radius: 6px;
  border: 1px solid gray;
  align-items: center;
  display: flex;
  color: grey;
  background: #00000099;

}

article>div:nth-child(2)>div:nth-child(3) {
  background-color: ;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  justify-content: space-around;
}

article>div:nth-child(2)>div:nth-child(3)>div:nth-child(2) {
padding-left: 20px;
/* width: 994px; */
/* height: 223px; */
width: 884px;
height: 223px;
display: flex;
align-items: center;
/* background-color: orange; */
}
textarea {
  /* width: 994px; */
  /* height: 223px; */
  padding: 10px 0px 0px 0px;
  border-radius: 6px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;

}

.tex {
  width: 884px;
  height: 223px;
  border-radius: 6px;
  border: 1px solid gray;
  padding-left: 20px;
  padding-top: 10px;
  /* background-color: red; */
}

article>div:nth-child(2)>div:nth-child(3)>div:last-child {
  display: flex;
  padding-top: 10px;
  align-items: center;
}

button {
  width: 1010px;
  height: 45px;
  background: #2948FF;
  font-family: Montserrat;
  color: white;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-radius: 6px;
  border: none;
}

.pin {
  background-color: skyblue;
  width: 596px;
  height: 590px;
  bottom: 850px;
  left: 553px;
  padding: 20px;
  position: relative;
  border-radius: 16px;
  align-items: center;
  display: flex;
  background-color: white;
  /* justify-content: center; */
}

.pin>div {
  height: 570px;
  width: 570px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: #4F5665; */
}

.pin>div>div:nth-child(1) {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4F5665;
}

.pin>div>div:nth-child(2) {
  height: 560px;
  width: 510px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 13px;
  /* background-color: lightgreen; */
}

.pin>div>div:nth-child(2)>div:first-child {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  line-height: 36.57px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.pin>div>div:nth-child(2)>div:nth-child(2) {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.62px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4F5665;
}

form {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: space-around;
}

form>div:first-child {
  display: flex;
  gap: 10px;
  /* padding-left: 10px; */
  justify-content: space-around;
}

.pin>div>div:nth-child(2){
  /* background-color: orange; */
}
form>div>div {
/* padding-left: 20px; */
}

.input {
  width: 50px;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  display: flex;
  /* text-align: center; */
  /* padding-left: 20px; */
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: none;
  background-color: white;
  border-bottom: 2px solid grey;
}

form>div:first-child>div>input:focus {
  border-bottom: 2px solid blue;
}
form>div:last-child{
  padding-left: 50px;
}

#btn {
  width: 556px;
  height: 50px;
  border-radius: 6px;


}