:root {
  --primary-color: hsla(231, 100%, 58%, 1);
  --border-style: 1px solid hsla(0, 0%, 6.7%, 0.3);
  --primary-color-hover: hsla(231, 100%, 58%, 0.8);
  /* --primary-color-click: hsla(231, 100%, 58%, 1); */
}

* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  display: grid;
  min-height: 100vh;
  grid-template-columns: minmax(50px, 1fr) minmax(50px, 4.5fr);
  grid-template-rows: 76px 1fr;
  grid-template-areas:
    "header header"
    "aside main";
}

header {
  grid-area: header;
  display: flex;
  padding: 30px;
  border-bottom: var(--border-style);
  justify-content: space-between;
}

header>div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

header>div:nth-child(1)>p {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

header>div:nth-child(2)>img:nth-child(2) {
  border-radius: 50%;
  object-fit: cover;
}

header>div:nth-child(2)>img:nth-child(3) {
  cursor: pointer;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-right: var(--border-style);
}

aside>div {
  display: flex;
  gap: 10px;
  cursor: pointer;
  flex-basis: 45px;
  align-items: center;
  border-radius: 6px;
  padding: 10px;
}

aside>div:hover {
  background-color: var(--primary-color-hover);
}

aside>div:last-child {
  color: red;
}

aside>div:not(:last-child)>img {
  filter: brightness(0) saturate(100%);
}

aside>div:hover {
  background: var(--primary-color);
  color: white;
}

aside>div:hover>img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(222deg) brightness(104%) contrast(108%);
}

aside>div:hover:last-child>img {
  filter: brightness(0) saturate(100%) invert(16%) sepia(100%) saturate(7430%) hue-rotate(7deg) brightness(107%) contrast(101%);
}

main {
  grid-area: main;
  padding: 30px;
  font-size: 16px;
}

.transfer-step>div {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.transfer-step>div:nth-child(1) p {
  font-weight: 600;
}

.step {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.span {
  border-radius: 50%;
  background: grey;
  width: 24px;
  height: 24px;
  color: white;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span2 {
  border-radius: 50%;
  background: var(--primary-color);
  width: 24px;
  height: 24px;
  color: white;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 85px;
  border-bottom: 1px dashed black;
  transform: translateY(-50%);
}

.conjunction>di {}

#fropil {
  width: 80px;
  height: 80px;
}

.active {
  color: var(--primary-color);
}

.active .circle {
  background: var(--primary-color);
}

.transfer-info {
  border: var(--border-style);
  padding: 30px;
}

.transfer-info label,
.transfer-info p:nth-child(1) {
  font-weight: 600;
}

.transfer-info form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.receiver {
  display: flex;
  background: hsla(0, 0%, 91%, 0.3);
  padding: 20px;
  gap: 20px;
  align-items: center;
}

.receiver>div {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  font-size: 14px;
}

.receiver>img {
  border-radius: 4px;
}

.receiver>div>div {
  display: flex;
  background: var(--primary-color);
  color: white;
  gap: 8px;
  border-radius: 6px;
  padding: 4px 12px 4px 8px;
}

.receiver>img:last-child {
  cursor: pointer;
}

label+p {
  font-size: 14px;
}

form>div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form>div:nth-child(2)>div {
  border: var(--border-style);
  height: 62px;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

form>div:nth-child(2)>div>input {
  flex: 1;
  border: none;
}

form>div:nth-child(2)>div>input:focus {
  outline: none;
}

form textarea {
  height: 223px;
  resize: none;
  padding: 10px;
  border: var(--border-style);
}

form button {
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
}

form button:hover {
  background: var(--primary-color-hover);
}

form button:active {
  background: var(--primary-color);
}

.pin {
  width: 596px;
  height: 590px;
  bottom: 700px;
  left: 600px;
  position: relative;
  border-radius: 16px;
  align-items: center;
  display: flex;
  padding: 10px;
  gap: 10px;
  justify-content: space-around;
  flex-direction: column;
  visibility: hidden;
  background-color: white;
}

.pin>div:first-child {
  text-align: left;
  width: 560px;
}

form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-around;
}

#formPin {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

form>div:nth-child(3)>input {
  width: 66px;
  border-left: none;
  border-top: none;
  border-right: none;
  display: flex;
  border: none;
  border-bottom: 2px solid #4F5665;
  text-align: center;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  outline: none;
}

.succes {
  width: 596px;
  height: 590px;
  bottom: 750px;
  left: 323px;
  position: relative;
  border-radius: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  visibility: hidden;
}

.succes>div {
  width: 556px;
  height: 550px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.succes>div>div:nth-child(1) {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4F5665;
}

.succes>div>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.succes>div>div:nth-child(2)>div:first-child {
  width: 270px;
  height: 270px;
}

.succes>div>div:nth-child(2)>div:nth-child(2) {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}


.failed {
  width: 596px;
  height: 590px;
  bottom: 850px;
  left: 300px;
  /* padding: 20px; */
  position: relative;
  border-radius: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  visibility: hidden;
}

.failed>div {
  width: 556px;
  height: 550px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: #4F5665; */
}

.failed>div>div:nth-child(1) {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4F5665;
}

.failed>div>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.failed>div>div:nth-child(2)>div:first-child {
  width: 270px;
  height: 270px;
}

.failed>div>div:nth-child(2)>div:nth-child(2) {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

#btn1,
#btn2 {
  width: 556px;
  height: 50px;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: var(--primary-color);
}

#btn2 {
  border: 1px solid blue;
  color: var(--primary-color);
  background-color: white;
}

.btn1Succes {
  width: 556px;
  height: 50px;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: var(--primary-color);
}

.btn1Succes:active,
.btn2Succes:active {
  background-color: var(--primary-color-hover);
}

.btn2Succes:active {
  color: white;
}

.btn2Succes {
  width: 556px;
  height: 50px;
  border-radius: 6px;
  border: none;
  border: 1px solid blue;
  color: var(--primary-color);
  background-color: white;
/* visibility: visible; */
}